{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block block1 %}
<div class="row" style="background-color: white ; color:black">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-6" style="width:100%;">
		<div class="text-center">
<img src="{% static 'app/img/logo.jpg' %} " style="width:20%;height:20%;"></img>
<h3 class="text-left" >
<p style="color: green"> 
Bhopal Incinerators Limited is a “Common Bio-Medical Waste Treatment Facility” (CBMWTF) in Bhopal which is authorized by the Pollution Control Board, Bhopal. The Company was incorporated in 2002 by a group of 93 doctors of Bhopal, coming together for the noble cause of disposal of Bio Medical Waste with environment friendly norms. The Company has consistently and consciously involved itself in helping the environment of Bhopal by its activity of reception, transportation, storage, disposal and treatment of Bio-Medical Waste of all the health care facilities (HCF’s) in the districts of Bhopal, Raisen and Berasia with the motto “SWACHH BHOPAL SWASTH BHOPAL”.
</p>
<p  style="color: orange">
When we started in year 2002, we had one incinerator of 50 kg/hr capacity, now we have one more incinerator of 100 kg/hr capacity with fully computerized and automatic feeding system. Also we have two Autoclaves & three plastic waste shorangeders of 100 kg/hr, 50 kg/hr and 20 kg/hr capacity.
</p>
<p style="color: green">
In 2002, the company was commissioned with only 93 clients. At present we have 604 Clients in Private & Govt. Sectors. Company has disposed of a total of almost 2 million kg of Bio Medical Waste in the last 13 years. 
</p>
<p style="color: blue">
<b>The Company is providing accessories for proper segregation and disposal of bio medical waste on chargeable basis like:</b>
</p><p  style="color: yellow">
<ul style="font-size:0.6em;">
<li>Plastic Containers/Bins</li><br>
<li>Needle Destroyer</li><br>
<li>Bio-degradable, De chlorinated color coded plastic bags, as per BIS Standards</li><br>
<li>Sodium Hypochlorite Solution</li><br>
<li>Daily waste record register</li><br>
<li>Stickers & Posters for the awareness</li><br>
<li>Sharp Containers as per BMW Management Rules 2016</li><br>
</ul>
</p><p style="color: blue;">
Some highlights of the company as of today:
</p><p  style="color: yellow">
<ul style="font-size:0.6em;">
<li>Incinerator of capacity of 100 kg/hr. with a standby of capacity 50kg/hr.</li><br>
<li>A primary and a secondary chamber which runs at the temperatures of 800oC – 900oC and 1000oC to 1100oC to ensure the incineration of the waste properly</li><br>
<li>A ventury, Cyclone and a scrubber attached to the machine to remove the harmful particulate matter and the gases before it is released to the atmosphere</li><br>
<li>100 feet chimney attached for the final removal of gases</li><br>
<li>2 Autoclaves for the disinfection of the waste before treatment</li><br>
<li>3 plastic waste shorangeders of capacities 100kg/hr, 50kg/hr and 25kg/hr</li><br>
<li>Sharp pit for storing sharps properly before disposal</li><br>
<li>A separate room for storing the incinerator ash</li><br>
<li>A fleet of 10 vehicles for the collection of waste from all the HCF’s</li><br>
<li>A team of 50 workers and 8 management staff to carry on the daily business operations</li><br>
</ul>
</p><p style="color: orange">
Company has also been awarded the PARYAVARAN PURASKAR by the Hon’ble Chief Minister, Shri Shivraj Singh Chauhan, Madhya Pradesh Government, for best small scale industry in the field of Environment Protection during the year 2004-05.
 </p></h3>

<img src="{% static 'app/img/about1.jpg' %}" height="420" width="700"></img>
<img src="{% static 'app/img/about2.jpg' %}" height="420" width="700"></img>
<img src="{% static 'app/img/about3.jpg' %}" height="420" width="700"></img>
</div>
	</div>
</div>

{% endblock %}
