{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block block1 %}
<div class="row" style="background-color: white ; color:black">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-6" style="width:100%;">
		<div class="text-left">

<h3 class="text-center">
Technologies adopted by the CBWTF
</h3><br>
<p>
1.	<b>Incineration</b> - It is a controlled combustion process where waste is completely oxidized and harmful microorganisms present in it are destroyed/ denatured under high temperature. 
The procedure of incineration involves feeding the waste automatically through the Charging Door in the Primary Combustion Chamber (PCC) where the Primary Burner heats it and completely degasifies it under sub-stoichiometric conditions. The gases and volatiles that are formed then proceed to the Secondary Combustion Chamber (SCC) where these are completely incinerated by the Secondary Burner at very high temperature with excess combustion air. A key role is played by Venturi, Scrubber and Combustion Air Fans. <br><br>

2.	<b>Air Pollution Control Device (APCD) attached to the incinerator</b> - Waste is burned in primary chamber at 850° C (± 50). All gases move from primary chamber to secondary chamber. There the temperature is 1050º C (± 50). After burning, gases and ash particles move from secondary chamber to Cyclone and Ventury, which helps to filter it with the help of water shower pressure. Droplet Separator helps to retain the water from the gases which goes in to scrubber from where it goes for treatment in CETP). The gases make their way through the stack with the particulate matter in prescribed limits.
</p><br><p>
<b><h4>Company has two Incinerators:</h4></b>
	<br>
1.	A dual chamber 100 kg/hr capacity incinerator with automatic feeding along with the PLC and computerized printing.<br>

2.	Company has also a working 50 kg/ hr capacity incinerator.<br><br>

	<b>Autoclaving</b> is a low-heat thermal process where steam is brought into direct contact with waste in a controlled manner and for sufficient duration to disinfect the wastes as stipulated under the Bio-medical Waste Management Rules. For ease and safety in operation, the system is horizontal type and exclusively designed for the treatment of bio-medical waste. For optimum results, we are using pre-vacuum based system. It has tamper-proof control panel with efficient display and recording devices for recording critical parameters such as time, temperature, pressure, date and batch number etc. as required under the BMWM Rules. <br><br>

Company has two Autoclaves (horizontal)-<br>
	1.	Two Autoclaves with complete documentation of each cycle (computerized).  Validation done by Bio-Indicators and Autoclave strip test.


</p><p><br>
	<b>Shredding</b> is a process by which waste are de-shaped or cut into smaller pieces so as to make the wastes unrecognizable. It helps in prevention of reuse of bio-medical waste and also acts as identifier that the wastes have been disinfected and are safe to dispose off.<br>

Company has three shredders-<br>  
1.	100 kg/hr capacity Shredder <br>
2.	50 Kg/hr capacity Shredder <br>
3.	25 kg/hr capacity Shredde.<br>
</p><p>

	<b>Sharp pit/ Encapsulation:</b>
A sharp pit is provided for treated sharps.	<br><br>

	<b>Online Continuous Stack Monitoring System</b> – Online Continuous Stack Monitoring System are used for the measurement of pollutants within the stack emission.  As per the guidelines of CPCB we are monitoring the parameters of CO, O2 and Co2.   The system extracts a small sample of gas from the stack. It then filters particulates and dilutes the sample with clean dry air. The diluted sample is then analyzed by high precision analyzer. The data is logged on a continuous basis and uploaded to a M.P. Pollution Control Board and Central Pollution Control Board servers on continuous basis.
</p><p>
	<b>Transport Vehicles</b> (10 in number):

Company has 10 vehicles, which are modified and updated as per BMW Management Rules 2016 to collect BMW from more than 600 collection points in Bhopal and Raisen District.
</p></div>
<img src="{% static 'app/img/tech1.jpg' %}" height="420" width="700"></img>
<img src="{% static 'app/img/tech2.jpg' %}" height="420" width="700"></img>
</div>
	</div>
</div>
{% endblock %}
