{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block block1 %}
<div class="row" style="background-color: white ; color:black">
	<div class="col-lg-3">
	</div>
	<div class="col-lg-6" style="width:100%;">
		<div class="text-left">

<h3 class="text-center">
Services offered by Bhopal Incinerators Limited.
</h3><br>
<p>

1. <b>BMW disposal Services :</b>  We have more than 600 clients including all Govt. and Private Hospitals, Blood banks, Pathologies, Dental clinics, Clinics and other Medical and Veterinary Institutions in Bhopal and Raisen Districts.  Our vehicles go daily to every client and collect their Bio-Medical Waste and disposed it within 48 hours, the specific time limit given in the BMW Rules.<br><br>

2. <b>Sale of Material :</b> 

The Company is providing accessories for proper segregation and disposal of bio medical waste on chargeable basis as per BMW Rules 2016.
Plastic Containers/Bins
Needle Destroyer
Bio-degradable, De chlorinated color coded plastic bags, as per BIS Standards
Sodium Hypochlorite Solution
Daily waste record register
Stickers & Posters for the awareness
Sharp Containers as per BMW Management Rules 2016
</p>
</div>

<img src="{% static 'app/img/service1.jpg' %}" height="420" width="700"></img>
<img src="{% static 'app/img/service2.jpg' %}" height="420" width="700"></img>
</div>
	</div>
</div>
{% endblock %}
